/* reset */
* {
	padding:0;
	margin:0;
}

/* font */

/* body */
body {
	overflow-y:hidden;
}

/* boot */
.boot {
	top:0;
	width:100%;
	height:100%;
	background:url(../img/loading1.gif)no-repeat 50% 50% #a0a0a0; 
	z-index:99999;
	position:fixed;
	cursor:progress;
}