body{
	margin: 0px;
	padding: 0px;
	background-color: #F5F5F5;
}
#body-background{
	border:solid 0px;
	width: auto;
	height: auto;
}
#background{
	border:solid 0px;
	width: 700px;
	height: 450px;
	background-color: #339966;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 0px 10px 20px 0px #CCCCCC;
}
#footer{
	border:solid 0px;
	width: 700px;
	height: auto;
	margin: 0 auto;
}
#footer p {
	text-align: center;
	font-weight: bold;
	color: #333333;
	font-family: Arial;
}
#logo-image{
	background-image: url(../gambar/afit.png);
	width: 150px;
	height: 130px;
	background-size: 100% 100%;
	margin: 0 auto;
}
.log{
	color: white;
	font-family: Arial;
	padding-left: 50px;
	text-decoration: underline;
}
#table-log{
	margin-left: 50px;
}
#table-log td{
	text-align: justify;
	color: white;
	font-family: Arial;
}
.input{
	width: 450px;
	height: 40px;
	padding-left: 10px;
	border-radius: 3px;
	border: solid 0px;
	color: #800000;
	font-weight: bold;
}
.submit{
	border:solid 0px;
	width: 70px;
	height: 30px;
	background-color: #FF3300;
	border-radius: 3px;
	color: white;
}
.submit:hover{
	cursor: pointer;
	background-color: #FF6600;
}
#header{
	border:solid 0px;
	width: 700px;
	height: 50px;
	margin: 0 auto;
	margin-top: 30px;
}
#header p {
	text-align: center;
	color: #999999;
	font-family: Arial;
}
#header p:hover{
	color: #CC0000;
}